{% extends 'base.html.twig' %}
{% block content %}
<div id="contacts" class="conteudo container">
	<ul class="row">
                		<li>
                			<a href="https://twitter.com/pedrodata" target="_blank"><i class="fab fa-twitter"></i></a>
                		</li>
                		<li>
                			<a href="https://www.facebook.com/pedrodata" target="_blank"><i class="fab fa-facebook"></i></a>
                		</li>
                		<li>
                			<a href="https://github.com/PTData" target="_blank"><i class="fab fa-github"></i></a>
                		</li>
                		<li>
                			<a href="https://www.linkedin.com/in/pedro-data-18606921/" target="_blank"><i class="fab fa-linkedin"></i></a>
                		</li>
                		<li>
                			<a href="mailto:mail@pedrodata.com?Subject=Hello%20" target="_blank"><i class="fas fa-at"></i></i></a>
                		</li>
                		
	</ul>
                
</div>
{% endblock %}