{% extends 'base-site.html.twig' %}

{% block body %}

{% block content %} 
<main>
	<div class="container margin-top-2rem margin-bottom-2rem">

		<h1>{{ n }}</h1>
		Hello

	</div>
</main>
{% endblock %}
{% endblock %}
