{% extends 'base.html.twig' %}

{% block body %}

{% block content %} 
<main>
	<div class="container margin-top-2rem margin-bottom-2rem">
		<div class="row">
			<div class="text col-sm-8">
		      <h5 class="bold">{{title}}</h5>
		      <br/>
		      {{ form(form) }}
		    </div>
		    
		</div>

	</div>
</main>
{% endblock %}
{% endblock %}
