{% extends 'base.html.twig' %}
{% block content %}
    <div id="portfolio" class="conteudo container">
       
        <h3>PORTFOLIO</h3>

		
		 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        
        		{% if id == 0 %}
			{% for key, item in work %}
			
				<div class="carousel-inner" role="listbox">
					<div class="item ">
				{% if item.img != '' %}
					<a href="/portfolio/{{key}}"><img src="{{ asset('assets/images/work/'~ item.img) }}"></a>
				{% else %}
					<div style="height: 220px; width: 400px; border: 1px solid grey">no image yet</div>
				{% endif %}
						<div class="carousel-caption">
        
      					</div>
					</div>
				</div>
        		
        		{% endfor %}
			{% endif %}
		 
        		<!-- Controls -->
  			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    				<span class="sr-only">Previous</span>
  			</a>
  			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    				<span class="sr-only">Next</span>
  			</a>
        </div>
<!-- Indicators -->
  			<ol class="carousel-indicators">
  			{# }
  			{% for i in 1..10 %}
    				<li data-target="#carousel-portfolio" data-slide-to="{{ i }}" class="{% if i == 1 %} active {% endif %}"></li>
    			{% endfor %}
    			{#}
  			</ol>

		{% if id == 0 %}
			{% for key, item in work %}
			<div class="items row">
				<ul style="margin:10px">
					<div class="col-lg-4">
						{% if item.img != '' %}
							<li><a href="/portfolio/{{key}}"><img src="{{ asset('assets/images/work/'~ item.img) }}"></a></li>
						{% else %}
							<li style="height: 220px; width: 400px; border: 1px solid grey">no image yet</li>
							
						{% endif %}
					</div>
					<div class="col-lg-8">
						<li><a href="/portfolio/{{key}}">{{ item.client }}</a></li>
        					<li>{{ item.job }}</li>
        					{% if item.link is defined %}
        						<li><a href="{{ item.link }}">{{ item.link }}</a></li>
        					{% endif %}
        				</div>
        			</ul>
        		</div>
        		{% endfor %}
			
		{% else %}
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
				{% if work.img is defined %}
					<img src="{{ asset('assets/images/work/'~ work.img) }}">
				{% else %}
					no image yet
				{% endif %}
			</div>
			<div class="col-lg-8">
				{{ work.client }}
				{{ work.job }}
				{{ work.year }}
				<ul>
				{% for w in work.tech %}
					<li>{{ w }}</li>
            			{# <img width="50" src="{{ asset('assets/images/work/tecnologias/') ~ w }}.png" alt="{{ w }}"> #}
        			{% endfor %}	
        			</ul>
			</div>
			<a href="/portfolio">back</a>
			</div>
		</div>
		{% endif %}
		
    </div>
    
    <div id="carousel-portfolio" class="carousel slide" data-ride="carousel">
  
        		<div class="carousel-inner" role="listbox" data-ride="carousel">
				
			{% for key, item in work %}
			
					<div class="item {% if key == 1 %} active {% endif %}">
						<a href="/portfolio/{{key}}"><img src="{{ asset('assets/images/work/'~ item.img) }}"></a>
					</div>
				
        		{% endfor %}
			</div>
			
        		<!-- Controls -->
  			<a class="left carousel-control" href="#carousel-portfolio" role="button" data-slide="prev">
    				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    				<span class="sr-only">Previous</span>
  			</a>
  			<a class="right carousel-control" href="#carousel-portfolio" role="button" data-slide="next">
    				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    				<span class="sr-only">Next</span>
  			</a>
        </div>
    
		<div style="clear:both"></div>
{% endblock %}