{% extends 'base-site.html.twig' %}

{% block content %} 
<main>
    <div class="container margin-top-2rem margin-bottom-2rem">

            
        <h1>Hello!!</h1>
        <p>{{ n }}</p>

    </div>
</main>
{% endblock %}